{% extends "base.html" %}

{% block start %}
<div class="container mt=5">    

</div>
{% endblock %}{% extends "base.html" %}

{% block start %}
<div class="container mt=5">


    <form class ="col-6 mx=auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <h2>Add client</h2>
        <div>
          </div>
        <div>
          client_id
        </div>
        <div>
          service_id
        </div>
        <div>
            scheduled_date
          </div>
          <div class="mb-3">
             status
           </div>
        
        <button type="submit">Add client</button>
      </form>

    

</div>
{% endblock %}